# Getting Data

In [131]:
#!kaggle competitions download -c store-sales-time-series-forecasting

In [132]:
import numpy as np
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [133]:
data=pd.read_csv("/kaggle/input/store-sales-time-series-forecasting/train.csv", parse_dates=['date'], index_col=['date'])
data.head()

            id  store_nbr      family  sales  onpromotion
date
2013-01-01   0          1  AUTOMOTIVE    0.0            0
2013-01-01   1          1   BABY CARE    0.0            0
2013-01-01   2          1      BEAUTY    0.0            0
2013-01-01   3          1   BEVERAGES    0.0            0
2013-01-01   4          1       BOOKS    0.0            0

In [134]:
data.tail()

,id,store_nbr,family,sales,onpromotion
date,,,,,
2017-08-15,3000883,9,POULTRY,438.133,0
2017-08-15,3000884,9,PREPARED FOODS,154.553,1
2017-08-15,3000885,9,PRODUCE,2419.729,148
2017-08-15,3000886,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
2017-08-15,3000887,9,SEAFOOD,16.000,0

In [135]:
submit=pd.read_csv("/kaggle/input/store-sales-time-series-forecasting/test.csv", parse_dates=['date'], index_col=['date'])
submit.head()

                 id  store_nbr      family  onpromotion
date
2017-08-16  3000888          1  AUTOMOTIVE            0
2017-08-16  3000889          1   BABY CARE            0
2017-08-16  3000890          1      BEAUTY            2
2017-08-16  3000891          1   BEVERAGES           20
2017-08-16  3000892          1       BOOKS            0

In [136]:
submit_sample=pd.read_csv("/kaggle/input/store-sales-time-series-forecasting/sample_submission.csv")
submit_sample.head()

        id  sales
0  3000888    0.0
1  3000889    0.0
2  3000890    0.0
3  3000891    0.0
4  3000892    0.0

In [137]:
stores=pd.read_csv("/kaggle/input/store-sales-time-series-forecasting/stores.csv")
print(stores.shape)
stores.head()

(54, 5)

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [138]:
oil=pd.read_csv("/kaggle/input/store-sales-time-series-forecasting/oil.csv", parse_dates=['date'], index_col=['date'])
oil.head()

            dcoilwtico
date
2013-01-01         NaN
2013-01-02       93.14
2013-01-03       92.97
2013-01-04       93.12
2013-01-07       93.20

In [139]:
holidays_events=pd.read_csv("/kaggle/input/store-sales-time-series-forecasting/holidays_events.csv",parse_dates=['date'], index_col=['date'])
holidays_events.head()

,type,locale,locale_name,description,transferred
date,,,,,
2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [140]:
transactions=pd.read_csv("/kaggle/input/store-sales-time-series-forecasting/transactions.csv",parse_dates=['date'], index_col=['date'])
transactions.head()

            store_nbr  transactions
date
2013-01-01         25           770
2013-01-02          1          2111
2013-01-02          2          2358
2013-01-02          3          3487
2013-01-02          4          1922

# Missing Values

In [141]:
data.isna().sum()

id             0
store_nbr      0
family         0
sales          0
onpromotion    0
dtype: int64

In [142]:
stores.isna().sum()

store_nbr    0
city         0
state        0
type         0
cluster      0
dtype: int64

In [143]:
oil.isna().sum()

dcoilwtico    43
dtype: int64

In [144]:
oil[oil['dcoilwtico'].isna()]

            dcoilwtico
date
2013-01-01         NaN
2013-01-21         NaN
2013-02-18         NaN
2013-03-29         NaN
2013-05-27         NaN
2013-07-04         NaN
2013-09-02         NaN
2013-11-28         NaN
2013-12-25         NaN
2014-01-01         NaN
2014-01-20         NaN
2014-02-17         NaN
2014-04-18         NaN
2014-05-26         NaN
2014-07-04         NaN
2014-09-01         NaN
2014-11-27         NaN
2014-12-25         NaN
2015-01-01         NaN
2015-01-19         NaN
2015-02-16         NaN
2015-04-03         NaN
2015-05-25         NaN
2015-07-03         NaN
2015-09-07         NaN
2015-11-26         NaN
2015-12-25         NaN
2016-01-01         NaN
2016-01-18         NaN
2016-02-15         NaN
2016-03-25         NaN
2016-05-30         NaN
2016-07-04         NaN
2016-09-05         NaN
2016-11-24         NaN
2016-12-26         NaN
2017-01-02         NaN
2017-01-16         NaN
2017-02-20         NaN
2017-04-14         NaN
2017-05-29         NaN
2017-07-03         NaN
2017-07-04         NaN

random values are missing. there are no values missing for a consecutive group of days. therefore, it is okay to replace each missing value with previous value. first value on index 0 can be filled by value at index 1

In [145]:
oil=oil.fillna(method="ffill")
oil=oil.fillna(method="bfill") #for 1st row

In [146]:
oil.isna().sum()

dcoilwtico    0
dtype: int64

In [147]:
holidays_events.isna().sum()

type           0
locale         0
locale_name    0
description    0
transferred    0
dtype: int64

# Plotting Time Series

In [148]:
data.describe(include='all')

                  id     store_nbr      family         sales   onpromotion
count   3.000888e+06  3.000888e+06     3000888  3.000888e+06  3.000888e+06
unique           NaN           NaN          33           NaN           NaN
top              NaN           NaN  AUTOMOTIVE           NaN           NaN
freq             NaN           NaN       90936           NaN           NaN
mean    1.500444e+06  2.750000e+01         NaN  3.577757e+02  2.602770e+00
std     8.662819e+05  1.558579e+01         NaN  1.101998e+03  1.221888e+01
min     0.000000e+00  1.000000e+00         NaN  0.000000e+00  0.000000e+00
25%     7.502218e+05  1.400000e+01         NaN  0.000000e+00  0.000000e+00
50%     1.500444e+06  2.750000e+01         NaN  1.100000e+01  0.000000e+00
75%     2.250665e+06  4.100000e+01         NaN  1.958473e+02  0.000000e+00
max     3.000887e+06  5.400000e+01         NaN  1.247170e+05  7.410000e+02

In [149]:
#temp=data
#temp = temp.groupby('family').resample('M').sum()
#fig = px.line(temp, x=temp.index.get_level_values('date'), 
#              y="sales", 
#              color=temp.index.get_level_values('family'))
#fig.show()

In [150]:
#temp=data
#temp = temp.groupby('store_nbr').resample('M').sum()
#fig = px.line(temp, x=temp.index.get_level_values('date'), 
#              y="sales", 
#              color=temp.index.get_level_values('store_nbr'))
#fig.show()

In [151]:
temp=data
temp = temp.resample('M').sum()
#temp.drop(temp.tail(1).index,inplace=True) # drop last month as only half of month data is given
fig = px.line(temp, x=temp.index, 
              y="sales")
fig.show()

In [152]:
temp1=data
temp1 = temp1.resample("M").sum()

temp2=oil
temp2 = temp2.resample('M').mean()



# Create figure with secondary y-axis
fig = make_subplots(specs=[[{"secondary_y": True}]])

# Add traces
fig.add_trace(
    go.Scatter(x=temp1.index, y=temp1.sales, name="monthly sales"),
    secondary_y=False,
)

fig.add_trace(
    go.Scatter(x=temp2.index, y=temp2.dcoilwtico, name="oil price"),
    secondary_y=True,
)

# Add figure title
fig.update_layout(
    title_text="Double Y Axis Example"
)

# Set x-axis title
fig.update_xaxes(title_text="Months")

# Set y-axes titles
fig.update_yaxes(title_text="Monthly Sales", secondary_y=False)
fig.update_yaxes(title_text="Oil Price", secondary_y=True)

fig.show()

# Data Merging

In [153]:
data.head()

            id  store_nbr      family  sales  onpromotion
date
2013-01-01   0          1  AUTOMOTIVE    0.0            0
2013-01-01   1          1   BABY CARE    0.0            0
2013-01-01   2          1      BEAUTY    0.0            0
2013-01-01   3          1   BEVERAGES    0.0            0
2013-01-01   4          1       BOOKS    0.0            0

In [154]:
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [155]:
data = data.reset_index().merge(stores, how="left").set_index('date')
data.head()

,id,store_nbr,family,sales,onpromotion,city,state,type,cluster
date,,,,,,,,,
2013-01-01,0,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13
2013-01-01,1,1,BABY CARE,0.0,0,Quito,Pichincha,D,13
2013-01-01,2,1,BEAUTY,0.0,0,Quito,Pichincha,D,13
2013-01-01,3,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13
2013-01-01,4,1,BOOKS,0.0,0,Quito,Pichincha,D,13

In [156]:
oil.head()

            dcoilwtico
date
2013-01-01       93.14
2013-01-02       93.14
2013-01-03       92.97
2013-01-04       93.12
2013-01-07       93.20

In [157]:
data = pd.merge(data, oil, left_index=True, right_index=True)
data.head()

,id,store_nbr,family,sales,onpromotion,city,state,type,cluster,dcoilwtico
date,,,,,,,,,,
2013-01-01,0,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,93.14
2013-01-01,1,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,93.14
2013-01-01,2,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,93.14
2013-01-01,3,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,93.14
2013-01-01,4,1,BOOKS,0.0,0,Quito,Pichincha,D,13,93.14

In [158]:
pd.set_option('display.max_rows', 50)
holidays_events.loc[holidays_events['type'] == 'Bridge']

,type,locale,locale_name,description,transferred
date,,,,,
2012-12-24,Bridge,National,Ecuador,Puente Navidad,False
2012-12-31,Bridge,National,Ecuador,Puente Primer dia del ano,False
2014-12-26,Bridge,National,Ecuador,Puente Navidad,False
2015-01-02,Bridge,National,Ecuador,Puente Primer dia del ano,False
2016-11-04,Bridge,National,Ecuador,Puente Dia de Difuntos,False

In [159]:
holidays_events.describe()

           type    locale locale_name description transferred
count       350       350         350         350         350
unique        6         3          24         103           2
top     Holiday  National     Ecuador    Carnaval       False
freq        221       174         174          10         338

In [160]:
holidays_events.type.unique()

array(['Holiday', 'Transfer', 'Additional', 'Bridge', 'Work Day', 'Event'],
      dtype=object)

In [161]:
data.head()

,id,store_nbr,family,sales,onpromotion,city,state,type,cluster,dcoilwtico
date,,,,,,,,,,
2013-01-01,0,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,93.14
2013-01-01,1,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,93.14
2013-01-01,2,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,93.14
2013-01-01,3,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,93.14
2013-01-01,4,1,BOOKS,0.0,0,Quito,Pichincha,D,13,93.14

In [162]:
pd.set_option('display.max_rows', 500)
#data["weekend"] = data.index.dayofweek
#data['weekend'] = ((pd.DatetimeIndex(data.index).dayofweek) // 5 == 1).astype(float)
#data.tail()

In [163]:
#data.loc[data['weekend'] > 3]

In [164]:
data.index = pd.to_datetime(data.index)

data['day_of_week'] = data.index.day_name()
data.head()

,id,store_nbr,family,sales,onpromotion,city,state,type,cluster,dcoilwtico,day_of_week
date,,,,,,,,,,,
2013-01-01,0,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,93.14,Tuesday
2013-01-01,1,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,93.14,Tuesday
2013-01-01,2,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,93.14,Tuesday
2013-01-01,3,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,93.14,Tuesday
2013-01-01,4,1,BOOKS,0.0,0,Quito,Pichincha,D,13,93.14,Tuesday

In [165]:
data['day_of_week'].unique()

array(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday'],
      dtype=object)

In [166]:
data = pd.get_dummies(data, columns=['day_of_week'])
data.head()

,id,store_nbr,family,sales,onpromotion,city,state,type,cluster,dcoilwtico,day_of_week_Friday,day_of_week_Monday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday
date,,,,,,,,,,,,,,,
2013-01-01,0,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,93.14,0,0,0,1,0
2013-01-01,1,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,93.14,0,0,0,1,0
2013-01-01,2,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,93.14,0,0,0,1,0
2013-01-01,3,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,93.14,0,0,0,1,0
2013-01-01,4,1,BOOKS,0.0,0,Quito,Pichincha,D,13,93.14,0,0,0,1,0

In [167]:
data['year'] = data.index.year
data['month'] = data.index.month
data['day'] = data.index.day
print(data.shape)
data.head()

(2143746, 18)

,id,store_nbr,family,sales,onpromotion,city,state,type,cluster,dcoilwtico,day_of_week_Friday,day_of_week_Monday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,year,month,day
date,,,,,,,,,,,,,,,,,,
2013-01-01,0,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,93.14,0,0,0,1,0,2013,1,1
2013-01-01,1,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,93.14,0,0,0,1,0,2013,1,1
2013-01-01,2,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,93.14,0,0,0,1,0,2013,1,1
2013-01-01,3,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,93.14,0,0,0,1,0,2013,1,1
2013-01-01,4,1,BOOKS,0.0,0,Quito,Pichincha,D,13,93.14,0,0,0,1,0,2013,1,1

In [168]:
temp = holidays_events
data = pd.merge(data, temp, left_index=True, right_index=True)
#print(data.shape)
data.head()

,id,store_nbr,family,sales,onpromotion,city,state,type_x,cluster,dcoilwtico,...,day_of_week_Tuesday,day_of_week_Wednesday,year,month,day,type_y,locale,locale_name,description,transferred
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,0,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,93.14,...,1,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False
2013-01-01,1,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,93.14,...,1,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False
2013-01-01,2,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,93.14,...,1,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False
2013-01-01,3,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,93.14,...,1,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False
2013-01-01,4,1,BOOKS,0.0,0,Quito,Pichincha,D,13,93.14,...,1,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False

In [169]:
data.shape

(352836, 23)

In [170]:
transactions.head()

            store_nbr  transactions
date
2013-01-01         25           770
2013-01-02          1          2111
2013-01-02          2          2358
2013-01-02          3          3487
2013-01-02          4          1922

In [171]:
temp1 = transactions.rename(columns={"store_nbr": "sn"})
print(temp1.shape)
temp1.head()

(83488, 2)

            sn  transactions
date
2013-01-01  25           770
2013-01-02   1          2111
2013-01-02   2          2358
2013-01-02   3          3487
2013-01-02   4          1922

In [86]:
#temp = data.merge(transactions, on=['date', 'store_nbr'])
data = pd.merge(data, transactions,  left_index=True, right_index=True)
#data.loc[data['store_nbr_x'] != data['store_nbr_y'], 'transactions'] = 0
#data = data.drop(columns=['store_nbr_y'])
data.head()

,id,store_nbr_x,family,sales,onpromotion,city,state,type_x,cluster,dcoilwtico,...,year,month,day,type_y,locale,locale_name,description,transferred,store_nbr_y,transactions
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,0,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,93.14,...,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,25,770
2013-01-01,1,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,93.14,...,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,25,770
2013-01-01,2,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,93.14,...,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,25,770
2013-01-01,3,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,93.14,...,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,25,770
2013-01-01,4,1,BOOKS,0.0,0,Quito,Pichincha,D,13,93.14,...,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,25,770

In [88]:
transactions.shape

(83488, 2)

In [87]:
data.shape

(17390538, 25)

In [131]:
temp.head(100)

,id,store_nbr,family,sales,onpromotion,city,state,type_x,cluster,dcoilwtico,...,day_of_week_Wednesday,year,month,day,type_y,locale,locale_name,description,transferred,transactions
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,561,25,AUTOMOTIVE,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,562,25,BABY CARE,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,563,25,BEAUTY,2.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,564,25,BEVERAGES,810.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,565,25,BOOKS,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,566,25,BREAD/BAKERY,180.589000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,567,25,CELEBRATION,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,568,25,CLEANING,186.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,569,25,DAIRY,143.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,570,25,DELI,71.090000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,571,25,EGGS,46.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,572,25,FROZEN FOODS,29.654999,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,573,25,GROCERY I,700.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,574,25,GROCERY II,15.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,575,25,HARDWARE,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,576,25,HOME AND KITCHEN I,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,577,25,HOME AND KITCHEN II,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,578,25,HOME APPLIANCES,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,579,25,HOME CARE,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,580,25,LADIESWEAR,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,581,25,LAWN AND GARDEN,2.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,582,25,LINGERIE,5.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,583,25,"LIQUOR,WINE,BEER",105.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,584,25,MAGAZINES,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,585,25,MEATS,110.801000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,586,25,PERSONAL CARE,25.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,587,25,PET SUPPLIES,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,588,25,PLAYERS AND ELECTRONICS,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,589,25,POULTRY,42.637000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,590,25,PREPARED FOODS,37.847000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,591,25,PRODUCE,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,592,25,SCHOOL AND OFFICE SUPPLIES,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-01-01,593,25,SEAFOOD,0.000000,0,Salinas,Santa Elena,D,1,93.14,...,0,2013,1,1,Holiday,National,Ecuador,Primer dia del ano,False,770
2013-02-11,73062,1,AUTOMOTIVE,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73063,1,BABY CARE,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73064,1,BEAUTY,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73065,1,BEVERAGES,172.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73066,1,BOOKS,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73067,1,BREAD/BAKERY,96.248000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73068,1,CELEBRATION,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73069,1,CLEANING,152.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73070,1,DAIRY,151.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73071,1,DELI,26.321000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73072,1,EGGS,46.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73073,1,FROZEN FOODS,22.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73074,1,GROCERY I,458.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73075,1,GROCERY II,2.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73076,1,HARDWARE,5.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73077,1,HOME AND KITCHEN I,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73078,1,HOME AND KITCHEN II,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73079,1,HOME APPLIANCES,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73080,1,HOME CARE,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73081,1,LADIESWEAR,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73082,1,LAWN AND GARDEN,3.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73083,1,LINGERIE,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73084,1,"LIQUOR,WINE,BEER",21.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73085,1,MAGAZINES,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73086,1,MEATS,92.739000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73087,1,PERSONAL CARE,23.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73088,1,PET SUPPLIES,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73089,1,PLAYERS AND ELECTRONICS,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73090,1,POULTRY,44.441998,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73091,1,PREPARED FOODS,25.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73092,1,PRODUCE,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73093,1,SCHOOL AND OFFICE SUPPLIES,0.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73094,1,SEAFOOD,5.000000,0,Quito,Pichincha,D,13,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,396
2013-02-11,73095,10,AUTOMOTIVE,3.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73096,10,BABY CARE,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73097,10,BEAUTY,1.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73098,10,BEVERAGES,238.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73099,10,BOOKS,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73100,10,BREAD/BAKERY,55.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73101,10,CELEBRATION,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73102,10,CLEANING,556.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73103,10,DAIRY,72.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73104,10,DELI,107.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73105,10,EGGS,25.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73106,10,FROZEN FOODS,1.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73107,10,GROCERY I,1285.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73108,10,GROCERY II,5.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73109,10,HARDWARE,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73110,10,HOME AND KITCHEN I,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73111,10,HOME AND KITCHEN II,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73112,10,HOME APPLIANCES,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73113,10,HOME CARE,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73114,10,LADIESWEAR,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73115,10,LAWN AND GARDEN,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73116,10,LINGERIE,3.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73117,10,"LIQUOR,WINE,BEER",5.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73118,10,MAGAZINES,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73119,10,MEATS,171.388000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73120,10,PERSONAL CARE,86.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73121,10,PET SUPPLIES,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73122,10,PLAYERS AND ELECTRONICS,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73123,10,POULTRY,85.745000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73124,10,PREPARED FOODS,12.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73125,10,PRODUCE,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73126,10,SCHOOL AND OFFICE SUPPLIES,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73127,10,SEAFOOD,0.000000,0,Quito,Pichincha,C,15,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,823
2013-02-11,73128,11,AUTOMOTIVE,2.000000,0,Cayambe,Pichincha,B,6,97.01,...,0,2013,2,11,Holiday,National,Ecuador,Carnaval,False,2199